
Package.resolved
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/package.xcworkspace/xcuserdata/chuck.xcuserdatad/UserInterfaceState.xcuserstate
.swiftpm/xcode/xcuserdata/chuck.xcuserdatad/xcschemes/xcschememanagement.plist
